/*generate fonts*/

///
$fontName: ("Roboto-Regular");
@each $font in $fontName {
    @font-face {
        font-family: "#{$font}";
        src: url("../fonts/#{$font}.eot");
        /* IE9 Compat Modes */
        src: url("../fonts/#{$font}.eot?#iefix") format("embedded-opentype"),
        url("../fonts/#{$font}.woff") format("woff"),
        url("../fonts/#{$font}.ttf") format("truetype"),
        url("../fonts/#{$font}.svg#svg#{$font}") format("svg");
        /* Legacy iOS */
        font-weight: normal;
        font-style: normal;
    }
}