$vw100: 100%;
/// colors
$pink: #d24a43;
$gray: #969599;
$blackLight: #201600;
$black: #000;
$white: #fff;
$whiteDark: #f8f8f8;
/// font-family
$roboto: "Roboto-Regular";
/// font-size
$fs40: 4rem;
$fs35: 3.5rem;
$fs30: 3rem;
$fs25: 2.5rem;
$fs20: 2rem;
$fs18: 1.8rem;
$fs16: 1.6rem;
$fs14: 1.4rem;
$fs13: 1.3rem;
$fs12: 1.2rem;
$fs10: 1rem;
/// line-height
$lh47: 4.7rem;
$lh41: 4.1rem;
$lh35: 3.5rem;
$lh29: 2.9rem;
$lh28: 2.8rem;
$lh25: 2.5rem;
$lh23: 2.3rem;
$lh21: 2.1rem;
$lh19: 1.9rem;
$lh16: 1.6rem;
$lh15: 1.5rem;
$lh14: 1.4rem;
$lh12: 1.2rem;